<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <h3 class="achievement-title">Solved 250+ DSA Problems</h3>
                    <p class="achievement-description">
                        Solved 250+ Data Structures and Algorithms problems across platforms like Leetcode and GFG, strengthening core problem-solving and coding skills through consistent practice.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">Secured 2nd position in school level since exhibition</h3>
                    <p class="achievement-description">
                        Secured 2nd position in school-level science exhibition by presenting an innovative and impactful project among several competitive entries.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3 class="achievement-title">4 Star on Hackerrank</h3>
                    <p class="achievement-description">
                        Achieved 4-star rating in Java on HackerRank by demonstrating strong problem-solving skills and consistent performance in coding challenges and assessments.
                    </p>
                </div>

<!--                <div class="achievement-card">-->
<!--                    <div class="achievement-icon">-->
<!--                        <i class="fa-solid fa-code-merge"></i>-->
<!--                    </div>-->
<!--                    <h3 class="achievement-title">GitHub Contributions</h3>-->
<!--                    <p class="achievement-description">-->
<!--                        Actively contributed to open-source projects on GitHub, shared reusable code libraries, and consistently maintained personal repositories featuring full-stack applications, helping developers learn and collaborate globally.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
</th:block>
</html>